@charset "UTF-8";
/* This makes sure that the padding and border are included in the total width and height of the elements. */
/*a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}*/
/* Create three equal columns that floats next to each other */
/* Clear floats after the columns */
/*       */
/* GRIDS */
/*       */
/* The header grid container */
/* The box2 content grid container */
/* The box3 content grid container */
/* The mission content grid container */
/* The gary content grid container */
/* The review1 content grid container */
/* The blurb1 content grid container */
/* The blurb911 content grid container */
/* The box5 content grid container */
/* The footer grid container */
/* nav menu */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexaround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body {
  margin: 0;
  font-size: 24px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #20326b !important;
}

.topphone {
  margin-top: 0.5em;
}
.topphone a {
  color: #0000ff !important;
}

.size17 {
  font-size: 17px;
}

.size20 {
  font-size: 20px;
}

.size21 {
  font-size: 21px;
}

.size22 {
  font-size: 22px;
}

.size23 {
  font-size: 23px;
}

.size24 {
  font-size: 24px;
}

.size28 {
  font-size: 28px;
}

.size32 {
  font-size: 32px !important;
}

.size36 {
  font-size: 36px;
}

.size42 {
  font-size: 42px;
}

.size51 {
  font-size: 51px;
}

.size74 {
  font-size: 74px;
}

.slightbig {
  font-size: 1.1em;
}

.rokkitt {
  font-family: Rokkitt;
}

.logoletterbig {
  font-size: 2.9em;
  text-shadow: 2px 2px grey;
  vertical-align: sub;
}

.logolettersmall {
  font-size: 1.5em;
  vertical-align: super;
}

.logoletterservice {
  font-size: 0.8em;
  font-family: Rokkitt;
  vertical-align: super;
  margin-top: -65px;
  letter-spacing: 0.5em;
}

.logoletterurl {
  font-size: 0.6em;
  font-family: Rokkitt;
  vertical-align: super;
  margin-top: -25px;
}

.logointextblue {
  color: #3755b5;
}

.imagertshadow {
  float: right;
  margin: 1em auto 1em 1em;
  -webkit-box-shadow: -10px 10px 5px grey;
          box-shadow: -10px 10px 5px grey;
}

.imagertshadowblk {
  margin-top: -8em;
  -webkit-box-shadow: 10px 10px 5px black;
          box-shadow: 10px 10px 5px black;
}

.imagelhshadow {
  float: left;
  margin: auto 2em 2em auto;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  max-width: 100%;
  height: auto;
}

.font2em {
  font-size: 2em;
}

.padtop5 {
  padding-top: 5px;
}

.ltgreen {
  color: #4aa84e;
}

.fs75strongem {
  font-size: 0.75em;
  font-weight: bold;
  font-style: italic;
}

.blueitalic {
  color: #142e80;
  font-style: italic;
}

.margin1em {
  margin: 1em;
}

.nomargin {
  margin: 0;
}

.cursive {
  font-family: "Homemade Apple", cursive;
}

.blocknomargin {
  display: block;
  margin: 0 auto;
}

.font125em {
  font-size: 1.25em;
}

.fontp6em {
  font-size: 0.6em;
}

.strongem {
  font-weight: bold;
  font-style: italic;
}

.hdividers {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.l9per {
  text-align: left;
  margin-left: 9%;
}

.white {
  color: white !important;
}

.licirc {
  list-style-type: circle;
}

.underline {
  text-decoration: underline;
}

.blue {
  color: #0000ff;
}

.red {
  color: #ff0000;
}

.yellow {
  background-color: yellow;
}

.margintopshort {
  margin-top: 5px;
}

.post p:first-child:first-letter {
  float: left;
  font-size: 4em;
  padding-right: 0.01em;
  font-family: Dancing Script, serif;
  line-height: 0.9;
  color: #0000ff;
}

a {
  color: #0000cc;
  text-decoration: none;
  hover: #009900;
}
a:hover {
  color: #009900;
}

a[href^="tel:"] {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 2.5em 0;
  position: relative;
}
hr:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 70%);
  z-index: 0;
}
hr:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 70%);
  z-index: 0;
  top: 0px;
  bottom: auto;
  height: 1.5em;
  background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 70%);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.hcenter {
  text-align: center;
}

.centervert {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: white;
}
blockquote:before {
  display: block;
  content: "“";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: white;
}
blockquote:after {
  font-family: Georgia, sans-serif;
  display: block;
  content: "”";
  font-size: 80px;
  position: absolute;
  right: 20px;
  bottom: -60px;
  color: white;
}
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "— ";
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column911 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.emergency {
  border-radius: 25px;
  color: #ff0000;
  margin-top: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.phone {
  background: #366193;
  color: white;
}

.side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-top: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header {
  height: auto;
  width: 100vw;
  background-image: url(../images/man-inside-building-2544830_bw.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.footer {
  height: auto;
  width: 100vw;
  background-color: white;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.boxtext {
  margin: 3%;
  color: white;
}

.box2 {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/man-and-woman-wearing-black-and-white-striped-aprons-2696064-blue.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
  color: white;
}

.box3 {
  width: 100vw;
  background-color: white;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  color: #165025;
}

.mission {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/mission_blueprint.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.gary {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/sunrise.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.review1 {
  width: 100vw;
  background-image: url(../images/banner-1989514_1920.png);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.blurb911 {
  background-color: #cc0000;
  border-top-style: ridge;
  border-bottom-style: ridge;
  border-top-color: lightgrey;
  border-bottom-color: lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100vw;
  color: white;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  list-style-position: inside;
}

.blurb1 {
  width: 100vw;
  background-color: #e6ffff;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.box5 {
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.burger {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

#burgertopspace {
  margin-top: 0.75em;
}

.grid-header {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.image-header .links-header {
  padding: 10px;
}

.text-header {
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-box2cont {
  display: grid;
  grid-template-areas: "head head head" "side text imag";
  grid-gap: 4%;
  color: white;
  margin: 1.1em;
}

.box2-side {
  grid-area: side;
  text-align: center;
  margin-left: -6em;
}

.box2-head {
  grid-area: head;
  text-align: center;
  font-size: 0.63em;
}

.box2-text {
  grid-area: text;
  margin-left: -6em;
}

.box2-image {
  grid-area: imag;
}

.grid-box3 {
  display: grid;
  grid-template-areas: "head   head   head" "texl  vr   texr";
  grid-gap: 4%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  color: #165025;
}

.box3-header {
  grid-area: head;
}

.box3-text-left {
  grid-area: texl;
  color: #165025;
}

.box3-vr {
  grid-area: vr;
  border-left: 3px solid #4aa84e;
  height: 60%;
}

.box3-text-right {
  grid-area: texr;
  color: #165025;
}

.grid-mission {
  display: grid;
  grid-template-areas: "stuff";
  grid-gap: 4%;
  margin: 10%;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: #014062;
}

.mission-text {
  grid-area: stuff;
  color: black;
  background-color: white;
  padding: 5%;
  -webkit-box-shadow: 10px 10px 5px #014062;
          box-shadow: 10px 10px 5px #014062;
}

.grid-gary {
  display: grid;
  grid-template-areas: "stuff";
  grid-gap: 4%;
  margin: 10%;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: #014062;
}

.gary-text {
  grid-area: stuff;
  color: black;
  background-color: white;
  padding: 5%;
  -webkit-box-shadow: 10px 10px 5px #130f0f;
          box-shadow: 10px 10px 5px #130f0f;
}

.grid-review1 {
  display: grid;
  grid-template-areas: "stuff";
  grid-gap: 4%;
  margin: 3%;
  color: white;
}

.review1-text {
  grid-area: stuff;
  color: white;
}

.grid-blurb1 {
  display: grid;
  grid-template-areas: "stuff";
  grid-gap: 4%;
  margin-left: 3%;
  margin-right: 3%;
}

.blurb1-text {
  grid-area: stuff;
}

.grid-blurb911 {
  display: grid;
  grid-template-areas: "coll colc colr";
  grid-gap: 4%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  font-size: 0.75em;
  font-weight: bold;
  background-color: #e7e6e6;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0000ff;
  list-style-position: inside;
  text-align: left;
  padding-left: 3em;
}
.grid-blurb911 ul {
  list-style-type: none;
}

.blurb911-column-left {
  grid-area: coll;
}

.blurb911-column-right {
  grid-area: colr;
}

.blurb911-column-center {
  grid-area: colc;
}

.grid-box5 {
  display: grid;
  grid-template-areas: "head  head" "coll colr" "colc colc";
  grid-gap: 4%;
  margin: 3%;
}

.box5-header {
  grid-area: head;
}

.box5-column-left {
  grid-area: coll;
}

.box5-column-right {
  grid-area: colr;
}

.box5-column-center {
  grid-area: colc;
}

.grid-footer {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.image-footer {
  padding: 10px;
  text-align: center;
}

.links-footer {
  padding: 10px;
}

.text-footer {
  padding: 10px;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

#primary_nav_wrap {
  margin-top: 15px;
}
#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid;
}
#primary_nav_wrap ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#primary_nav_wrap ul li:hover {
  background: #f6f6f6;
}
#primary_nav_wrap ul li:hover > ul {
  display: block;
}
#primary_nav_wrap ul li.current-menu-item {
  background: #ddd;
}
#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}
#primary_nav_wrap ul ul li {
  float: none;
  width: 200px;
}
#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

definition hide section #definition {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
  color: white;
}

#definition #term {
  font-size: 0.8em;
}
#definition #pronounce {
  font-size: 0.7em;
}
#definition .def {
  font-size: 0.6em;
}

@media (max-width: 900px) {
  .image-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 0%;
  }

  .burger {
    visibility: initial;
  }

  .links-header {
    display: none;
  }

  .box2-head {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-gap: 0%;
  }

  .box2-side {
    visibility: hidden;
  }

  .box2-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-gap: 0%;
    margin-left: auto;
  }

  #box2image {
    visibility: hidden;
  }

  .grid-box3 {
    grid-template-areas: "head" "texl" "texr";
    grid-gap: 0%;
  }

  .grid-box5 {
    display: grid;
    grid-template-areas: "head" "coll" "colr" "colc";
    grid-gap: 0%;
    margin: 3%;
  }
}
@media (max-width: 600px) {
  .grid-blurb911 {
    display: grid;
    grid-template-areas: "colc";
    grid-gap: 0%;
    margin: 3%;
    padding-left: 0.5em;
  }

  .size74 {
    font-size: 51px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */