/* This makes sure that the padding and border are included in the total width and height of the elements. */
* { 
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}
.post p:first-child:first-letter {
	float: left;
	font-size: 4em;
	padding-right: .01em;
	font-family: Dancing Script, serif;
	line-height: .9;
	color: #0000ff;
}
a {
	color: #0000cc;
	text-decoration: none;
	hover: #009900;
}
a:hover {
	color: #009900;
}
a[href^="tel:"] {
	/* color: orange; */
	text-decoration: none;
}
a[href^="tel:"]:before {
	content: "\260e";
	margin-right: 0.5em;
}
hr {
	border: none;
	border-top: 1px solid rgba(255,255,255,.3);
	border-bottom: 1px solid rgba(0,0,0,.08);
	margin: 2.5em 0;
	position: relative;
}
hr:before,hr:after {
	content: '';
	position: absolute;
	bottom:0px;
	height: 5em;
	width: 100%;
	background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
	z-index:0;
}
hr:after {
	top:0px;
	bottom:auto;
	height: 1.5em;
	background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
}
.img-responsive {
	width: 100%;
	height: auto;
	box-shadow: 10px 5px 5px black;
}
.hcenter {
	text-align: center;
}
.centervert {
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.quarterwideleft {
	width: 30%;
	margin-left: 5%;
}
/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
.emergency {
	background: red;
	color: white;
	padding-left: 7px;
	padding-right: 7px;
}
.phone {
	background: #366193;
	color: white;
}
.side {
	transform: rotate(270deg);
	margin-top: 200px;
	width: max-content;
}
.header {
	height: auto;
	/* padding: 20px; */
	width: 100vw;
	/* background-image: url(https://i.ytimg.com/vi/KFNxdXEe0Ko/maxresdefault.jpg); */
	background-color: white;
	/* background-size: cover; */
	background-position: center;
	display: table;
	background-attachment: fixed;
}
.footer {
	height: auto;
	/* padding: 20px; */
	width: 100vw;
	/* background-image: url(https://i.ytimg.com/vi/KFNxdXEe0Ko/maxresdefault.jpg); */
	background-color: white;
	/* background-size: cover; */
	background-position: center;
	display: table;
	background-attachment: fixed;
}
.boxtext {
	margin: 3%;
	color: white;
}
.box2 {
	height: 100vh;
	width: 100vw;
	/* background-color: #4d75b3; */
	background-image: url(../images/man-and-woman-wearing-black-and-white-striped-aprons-2696064-blue.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: table;
	color: white;
}
.box3 {
	height: 100vh;
	width: 100vw;
	/* background-image: url(https://www.incomeactivator.com/images/freebg2.jpg); */
	background-color: white;
	background-size: cover;
	background-position: center;
	display: table;
	background-attachment: fixed;
}
.review1 {
	width: 100vw;
	background-image: url(../images/banner-1989514_1920.png);
	background-size: cover;
	background-position: center;
	display: table;
	background-attachment: fixed;
}
.blurb1 {
	width: 100vw;
	background-color: white;
	background-size: cover;
	background-position: center;
	display: table;
	background-attachment: fixed;
}
.box5 {
	height: 100vh;
	width: 100vw;
	background-color: white;
	background-size: cover;
	background-position: center;
	display: table;
	background-attachment: fixed;
}

/*       */
/* GRIDS */
/*       */

/* The header grid container */
.grid-header {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}
.image-header,
.links-header,
.text-header,
{
	padding: 10px;
}

.text-header{
	grid-column-start:1;
	grid-column-end:3;
}
@media (max-width: 900px) {
	.image-header {
		grid-column-start:1;
		grid-column-end:3;
		grid-gap: 0%;
	}
	.links-header {
		grid-column-start:1;
		grid-column-end:3;
		grid-gap: 0%;
	}
}

/* The box2 content grid container */
.grid-box2cont {
	display: grid;
	grid-template-areas: 'head head head'
	'side text imag';
	grid-gap: 4%;
	margin: 3%;
	color: white;
}
.box2-side {
	grid-area: side;
	text-align: center;
	/*writing-mode: vertical-rl;*/
}
.box2-head {
	grid-area: head;
	text-align: center;
}
.box2-text {
	grid-area: text;
}
.box2-image {
	grid-area: imag;
}
@media (max-width: 900px) {
	.box2-head {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-gap: 0%;
	}
	.box2-side {
		visibility: hidden;
	}
	.side {
		/*transform: rotate(0deg);
		margin-top: 1px;
		font-size: 0.75em;*/
	}
	.box2-text {
		grid-column-start:1;
		grid-column-end:3;
		grid-gap: 0%;
	}
	#box2image {
		visibility: hidden;
	}
}

/* The box3 content grid container */
.grid-box3 {
	display: grid;
	grid-template-areas: 'head   head   head'
	'texl  vr   texr';
	grid-gap: 4%;
	margin: 3%;
}
.box3-header {
	grid-area: head;
}
.box3-text-left {
	grid-area: texl;
}
.box3-vr {
	grid-area: vr;
	border-left: 3px solid #4aa84e;
	height: 60%;
}
.box3-text-right {
	grid-area: texr;
}
@media (max-width: 900px) {
	.grid-box3 {
		grid-template-areas: 'head'
		'texl'
		'texr';
		grid-gap: 0%;
	}
}

/* The review1 content grid container */
.grid-review1 {
	display: grid;
	grid-template-areas: 'stuff';
	grid-gap: 4%;
	margin: 3%;
	color: white;
}
.review1-text {
	grid-area: stuff;
	color: white;
}

/* The blurb1 content grid container */
.grid-blurb1{
	display: grid;
	grid-template-areas: 'stuff';
	grid-gap: 4%;
	margin: 3%;
}
.blurb1-text {
	grid-area: stuff;
}

/* The box5 content grid container */
.grid-box5 {
	display: grid;
	grid-template-areas: 'head   head'
	'coll   colr';
	grid-gap: 4%;
	margin: 3%;
}
.box5-header {
	grid-area: head;
}
.box5-column-left {
	grid-area: coll;
}
.box5-column-right {
	grid-area: colr;
}
@media (max-width: 900px) {
	.grid-box5 {
		display: grid;
		grid-template-areas: 'head'
		'coll'
		'colr';
		grid-gap: 0%;
		margin: 3%;
	}
}


/* The footer grid container */
.grid-footer {
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	grid-template-rows: auto;
}
.image-footer,
.links-footer,
.text-footer,
{
	padding: 10px;
}
.image-footer {
	text-align: center;
}
.text-footer {
	text-align: center;
}

/* nav menu */
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
